.main_div {
  text-align: center;
  margin-top: 4%;
  color: seashell;
}

body {
  background-color: #202020;
}

.me_photo {
  border-radius: 50%;
}

.cover_letter {
  display: block;
  text-align: left;
  font-size: x-large;
  margin-left: 32%;
  margin-right: 32%;
  margin-top: 2%;
  margin-bottom: 2.5%;
}

.links {
  font-size: x-large;
  padding-left: 3.3%;
  padding-right: 3.3%;
  color: seashell;
}
